body
{
    margin: 0;
    padding: 0;
}
li a
{
    text-decoration: none;
    display: block;
    padding: 10px 16px;

}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav
{

}
li
{
    float: left;
}
.cari
{
    
    padding: 10px;
}
.cari>input
{
    width: 60%;
    border-radius: 5px;
}
@media (max-width:600px) {
    .cari>input 
    {
        width: 40%;
    }
}
.cari>button:hover
{
cursor: pointer;
}
.container
{
    height: 700px;
display: grid;
place-items: center;
}
.pilihan
{
    display: flex;
    flex-direction: row;

}
.item-1,.item-2,.item-3
{
    display: flex;
    justify-content: center;
    align-items: center;

  
    height: 100px;
    width: 100px;
    border: 1px solid black;
}